<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
%load_ext sql

In [2]:
!pip install -q pandas==1.1.5
!pip install -q ipython-sql

In [3]:
import csv, sqlite3
import pandas
#con = sqlite3.connect("SQLiteMagic.db")
#cur = con.cursor()
chicago_socioeconomic_data = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
chicago_public_schools = pandas.read_csv('https://data.cityofchicago.org/resource/9xs2-f89t.csv')
chicago_crime_data = pandas.read_csv('https://data.cityofchicago.org/resource/ijzp-q8t2.csv')
%sql sqlite:///SQLiteMagic.db
%sql PERSIST chicago_socioeconomic_data
%sql PERSIST chicago_public_schools
%sql PERSIST chicago_crime_data

 * sqlite:///SQLiteMagic.db

ValueError: Table 'chicago_socioeconomic_data' already exists.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [4]:
%sql select count(*) from chicago_crime_data
#The total number of crimes recorded in the Crime table is 1000

 * sqlite:///SQLiteMagic.db
Done.

[(1000,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [5]:
%sql select community_area_name from chicago_socioeconomic_data where per_capita_income_ < 11000;

 * sqlite:///SQLiteMagic.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [6]:
%%sql 

select * from chicago_crime_data where (description like '%minor%' and description not like '%child%' and primary_type not like '%child%');

 * sqlite:///SQLiteMagic.db
Done.

[(13, 13196567, 'JG407549', '2023-09-01T23:59:00.000', '001XX W HUBBARD ST', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'STREET', 1, 0, 1831, 18, 42, 8, '08B', 1175243.0, 1903291.0, 2023, '2023-09-09T15:42:35.000', 41.890012081, -87.631878026, '\n,  \n(41.890012081, -87.631878026)'),
 (86, 13196615, 'JG407596', '2023-09-01T21:41:00.000', '022XX N MOBILE AVE', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'APARTMENT', 0, 0, 2512, 25, 36, 19, '08B', 1134043.0, 1914268.0, 2023, '2023-09-09T15:42:35.000', 41.920958906, -87.782925927, '\n,  \n(41.920958906, -87.782925927)'),
 (239, 13196273, 'JG407264', '2023-09-01T17:10:00.000', '038XX N NORA AVE', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'RESIDENCE', 0, 0, 1632, 16, 38, 17, '08B', 1128718.0, 1924767.0, 2023, '2023-09-09T15:42:35.000', 41.949861554, -87.802252597, '\n,  \n(41.949861554, -87.802252597)'),
 (249, 13196336, 'JG407190', '2023-09-01T17:00:00.000', '065XX S STONY ISLAND AVE', '0454', 'BATTERY', 'AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MINOR INJURY', 'STREET', 0, 0, 321, 3, 5, 42, '08B', 1188010.0, 1862010.0, 2023, '2023-09-09T15:42:35.000', 41.776438814, -87.586311072, '\n,  \n(41.776438814, -87.586311072)'),
 (316, 13200226, 'JG411697', '2023-09-01T15:50:00.000', '062XX S STONY ISLAND AVE', '0484', 'BATTERY', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PUBLIC BUILDING', 0, 0, 314, 3, 5, 42, '08B', 1187940.0, 1864073.0, 2023, '2023-09-09T15:42:35.000', 41.78210152, -87.586502002, '\n,  \n(41.78210152, -87.586502002)'),
 (642, 13195599, 'JG406280', '2023-09-01T03:20:00.000', '009XX W NORTH AVE', '0545', 'ASSAULT', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'CTA BUS', 1, 0, 1822, 18, 27, 8, '08A', 1169772.0, 1910845.0, 2023, '2023-09-09T15:42:35.000', 41.910861692, -87.651749438, '\n,  \n(41.910861692, -87.651749438)'),
 (967, 13194933, 'JG405691', '2023-08-31T17:10:00.000', '075XX S SOUTH SHORE DR', '0545', 'ASSAULT', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PRIVATE GROUNDS', 0, 0, 421, 4, 7, 43, '08A', 1196150.0, 1856116.0, 2023, '2023-09-08T15:42:53.000', 41.760067375, -87.556666012, '\n,  \n(41.760067375, -87.556666012)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [8]:
%sql select * from chicago_crime_data where primary_type like '%KIDNAPPING%'

 * sqlite:///SQLiteMagic.db
Done.

[(24, 13196660, 'JG407614', '2023-09-01T23:30:00.000', '001XX W KINZIE ST', '4210', 'KIDNAPPING', 'KIDNAPPING', 'VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)', 0, 0, 1831, 18, 42, 8, '26', 1174910.0, 1902985.0, 2023, '2023-09-09T15:42:35.000', 41.889179863, -87.633110109, '\n,  \n(41.889179863, -87.633110109)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [9]:
%sql select * from chicago_crime_data where location_description like '%SCHOOL%'
# The kinds of crimes were recorded at schools are criminal damage,motor vehicle theft, battery, assault, other offense and sexual offense.

 * sqlite:///SQLiteMagic.db
Done.

[(172, 13199031, 'JG410490', '2023-09-01T19:00:00.000', '035XX W DOUGLAS BLVD', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 1021, 10, 24, 29, '14', 1153093.0, 1893230.0, 2023, '2023-09-09T15:42:35.000', 41.862871696, -87.713489726, '\n,  \n(41.862871696, -87.713489726)'),
 (211, 13196576, 'JG407517', '2023-09-01T18:00:00.000', '042XX W 115TH ST', '0910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'SCHOOL - PRIVATE GROUNDS', 0, 0, 2211, 22, 19, 74, '07', 1150285.0, 1827982.0, 2023, '2023-09-09T15:42:35.000', 41.683875796, -87.725490546, '\n,  \n(41.683875796, -87.725490546)'),
 (289, 13201537, 'JG413354', '2023-09-01T16:17:00.000', '062XX S STONY ISLAND AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 314, 3, 5, 42, '08B', 1187940.0, 1864073.0, 2023, '2023-09-09T15:42:35.000', 41.78210152, -87.586502002, '\n,  \n(41.78210152, -87.586502002)'),
 (316, 13200226, 'JG411697', '2023-09-01T15:50:00.000', '062XX S STONY ISLAND AVE', '0484', 'BATTERY', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PUBLIC BUILDING', 0, 0, 314, 3, 5, 42, '08B', 1187940.0, 1864073.0, 2023, '2023-09-09T15:42:35.000', 41.78210152, -87.586502002, '\n,  \n(41.78210152, -87.586502002)'),
 (323, 13196620, 'JG407122', '2023-09-01T15:45:00.000', '126XX S UNION AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 523, 5, 9, 53, '08A', 1173951.0, 1821134.0, 2023, '2023-09-09T15:42:35.000', 41.664592914, -87.63905866, '\n,  \n(41.664592914, -87.63905866)'),
 (325, 13196122, 'JG407070', '2023-09-01T15:40:00.000', '126XX S UNION AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING', 0, 0, 523, 5, 9, 53, '08A', 1173951.0, 1821134.0, 2023, '2023-09-09T15:42:35.000', 41.664592914, -87.63905866, '\n,  \n(41.664592914, -87.63905866)'),
 (329, 13196277, 'JG407230', '2023-09-01T15:37:00.000', '103XX S ELIZABETH ST', '0498', 'BATTERY', 'AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SERIOUS INJURY', 'SCHOOL - PUBLIC GROUNDS', 0, 1, 2232, 22, 21, 73, '04B', 1169846.0, 1836216.0, 2023, '2023-09-09T15:42:35.000', 41.706070186, -87.653645803, '\n,  \n(41.706070186, -87.653645803)'),
 (343, 13197083, 'JG406988', '2023-09-01T15:08:00.000', '017XX W PRYOR AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 2212, 22, 19, 75, '08A', 1166533.0, 1831078.0, 2023, '2023-09-09T15:42:35.000', 41.692041778, -87.665923635, '\n,  \n(41.692041778, -87.665923635)'),
 (347, 13197572, 'JG407014', '2023-09-01T15:00:00.000', '060XX S LANGLEY AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 313, 3, 20, 42, '08A', 1181924.0, 1865146.0, 2023, '2023-09-09T15:42:35.000', 41.785187197, -87.608524835, '\n,  \n(41.785187197, -87.608524835)'),
 (355, 13200697, 'JG412597', '2023-09-01T15:00:00.000', '034XX W 65TH PL', '5000', 'OTHER OFFENSE', 'OTHER CRIME AGAINST PERSON', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 831, 8, 14, 66, '26', 1154691.0, 1860976.0, 2023, '2023-09-09T15:42:35.000', 41.774330666, -87.708484611, '\n,  \n(41.774330666, -87.708484611)'),
 (388, 13196621, 'JG407135', '2023-09-01T13:47:00.000', '0000X E 115TH ST', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 531, 5, 9, 49, '08B', 1178538.0, 1828729.0, 2023, '2023-09-09T15:42:35.000', 41.685332125, -87.622042783, '\n,  \n(41.685332125, -87.622042783)'),
 (436, 13198026, 'JG409314', '2023-09-01T12:10:00.000', '040XX N OAK PARK AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 1632, 16, 38, 17, '08B', 1130294.0, 1926298.0, 2023, '2023-09-09T15:42:35.000', 41.954035844, -87.796424031, '\n,  \n(41.954035844, -87.796424031)'),
 (445, 13196654, 'JG407414', '2023-09-01T12:00:00.000', '040XX N OAK PARK AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 1632, 16, 38, 17, '08B', 1130294.0, 1926298.0, 2023, '2023-09-09T15:42:35.000', 41.954035844, -87.796424031, '\n,  \n(41.954035844, -87.796424031)'),
 (465, 13202490, 'JG411729', '2023-09-01T11:30:00.000', '013XX W 14TH ST', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING', 0, 0, 1233, 12, 28, 28, '08B', 1167761.0, 1893524.0, 2023, '2023-09-09T15:42:35.000', 41.863375231, -87.659636657, '\n,  \n(41.863375231, -87.659636657)'),
 (478, 13202534, 'JG414620', '2023-09-01T11:00:00.000', '062XX S STONY ISLAND AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 314, 3, 5, 42, '08B', 1187938.0, 1864159.0, 2023, '2023-09-09T15:42:35.000', 41.782337559, -87.586506596, '\n,  \n(41.782337559, -87.586506596)'),
 (480, 13196205, 'JG407041', '2023-09-01T11:00:00.000', '034XX N OSCEOLA AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING', 0, 0, 1631, 16, 38, 17, '08B', 1125809.0, 1921975.0, 2023, '2023-09-09T15:42:35.000', 41.942248935, -87.813008283, '\n,  \n(41.942248935, -87.813008283)'),
 (494, 13196964, 'JG406589', '2023-09-01T10:26:00.000', '085XX S LAFAYETTE AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 622, 6, 21, 44, '08B', 1177422.0, 1848381.0, 2023, '2023-09-09T15:42:35.000', 41.73928511, -87.625536799, '\n,  \n(41.73928511, -87.625536799)'),
 (515, 13196061, 'JG406895', '2023-09-01T10:00:00.000', '036XX N MILWAUKEE AVE', '0810', 'THEFT', 'OVER $500', 'SCHOOL - PRIVATE GROUNDS', 0, 0, 1731, 17, 30, 16, '06', 1146726.0, 1923676.0, 2023, '2023-09-09T15:42:35.000', 41.946542477, -87.736084376, '\n,  \n(41.946542477, -87.736084376)'),
 (523, 13200134, 'JG411759', '2023-09-01T09:35:00.000', '037XX N PARIS AVE', '5000', 'OTHER OFFENSE', 'OTHER CRIME AGAINST PERSON', 'SCHOOL - PUBLIC BUILDING', 0, 0, 1631, 16, 38, 17, '26', 1121067.0, 1923885.0, 2023, '2023-09-09T15:42:35.000', 41.947567885, -87.830396489, '\n,  \n(41.947567885, -87.830396489)'),
 (530, 13195861, 'JG406514', '2023-09-01T09:18:00.000', '076XX S PHILLIPS AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PRIVATE GROUNDS', 0, 0, 421, 4, 7, 43, '08A', 1193855.0, 1854881.0, 2023, '2023-09-09T15:42:35.000', 41.756734991, -87.565117456, '\n,  \n(41.756734991, -87.565117456)'),
 (547, 13195827, 'JG406499', '2023-09-01T08:50:00.000', '034XX N MAJOR AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 1633, 16, 30, 15, '08A', 1137757.0, 1922269.0, 2023, '2023-09-09T15:42:35.000', 41.942848288, -87.769086168, '\n,  \n(41.942848288, -87.769086168)'),
 (560, 13195858, 'JG406548', '2023-09-01T08:20:00.000', '030XX N MOBILE AVE', '0460', 'BATTERY', 'SIMPLE', 'SCHOOL - PUBLIC BUILDING', 0, 0, 2511, 25, 30, 19, '08B', 1133880.0, 1919540.0, 2023, '2023-09-09T15:42:35.000', 41.935428755, -87.783400598, '\n,  \n(41.935428755, -87.783400598)'),
 (571, 13201909, 'JG413987', '2023-09-01T08:00:00.000', '011XX N WESTERN AVE', '0820', 'THEFT', '$500 AND UNDER', 'SCHOOL - PUBLIC BUILDING', 0, 0, 1212, 12, 1, 24, '06', 1160197.0, 1907701.0, 2023, '2023-09-09T15:42:35.000', 41.902437713, -87.687011559, '\n,  \n(41.902437713, -87.687011559)'),
 (739, 13195907, 'JG406616', '2023-08-31T23:45:00.000', '004XX N LARAMIE AVE', '1570', 'SEX OFFENSE', 'PUBLIC INDECENCY', 'SCHOOL - PUBLIC GROUNDS', 0, 0, 1523, 15, 37, 25, '17', 1141628.0, 1902375.0, 2023, '2023-09-08T15:42:53.000', 41.888186183, -87.75535096, '\n,  \n(41.888186183, -87.75535096)'),
 (825, 13195460, 'JG406129', '2023-08-31T21:00:00.000', '064XX S UNIVERSITY AVE', '0560', 'ASSAULT', 'SIMPLE', 'SCHOOL - PUBLIC GROUNDS', 0, 1, 314, 3, 20, 42, '08A', 1184800.0, 1862557.0, 2023, '2023-09-08T15:42:53.000', 41.778015745, -87.598061446, '\n,  \n(41.778015745, -87.598061446)'),
 (967, 13194933, 'JG405691', '2023-08-31T17:10:00.000', '075XX S SOUTH SHORE DR', '0545', 'ASSAULT', 'PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / MINOR INJURY', 'SCHOOL - PRIVATE GROUNDS', 0, 0, 421, 4, 7, 43, '08A', 1196150.0, 1856116.0, 2023, '2023-09-08T15:42:53.000', 41.760067375, -87.556666012, '\n,  \n(41.760067375, -87.556666012)')]

### Problem 6

##### List the average safety score for each type of school.

In [10]:
%sql select elementary_or_high_school, avg(safety_score) from CHICAGO_PUBLIC_SCHOOLS group by elementary_or_high_school

 * sqlite:///SQLiteMagic.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [15]:
%sql select * from chicago_socioeconomic_data order by percent_households_below_poverty desc limit 5;

 * sqlite:///SQLiteMagic.db
Done.

[(53, 54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0),
 (36, 37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0),
 (67, 68.0, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94.0),
 (28, 29.0, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87.0),
 (26, 27.0, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83.0)]

### Problem 8

##### Which community area is most crime prone?

In [75]:
%%sql 
select community_area, count(*) as crime_prone_count
from chicago_crime_data 
group by community_area
order by crime_prone_count desc limit 1

#Community area 25 is most crime prone

 * sqlite:///SQLiteMagic.db
Done.

[(25, 50)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [48]:
%sql select * from chicago_socioeconomic_data order by hardship_index desc limit 1

# The name of the community area with highest hardship index is Riverdale

 * sqlite:///SQLiteMagic.db
Done.

[(53, 54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [86]:
%%sql 
select community_area, count(*) as crime_prone_count
from chicago_crime_data 
group by community_area
order by crime_prone_count desc limit 1

 * sqlite:///SQLiteMagic.db
Done.

[(25, 50)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>